<style>
    header {
        display: none
    }
</style>
<style>
    #navigate-bar {
        display: none
    }
</style>

<div class="container-fluid p-4 justify-content-center align-items-center">
    <div class="col-auto text-center p-1.5">
        <h2>
            <b>InterNews</b>
        </h2>
    </div>
    <div class="col-auto text-center p-1.5">
        <img class="center-img" src="../../img/tecnm_logo.png" title="Logotipo TecNM" alt="" />
    </div>
    <div class="col-auto text-center p-1.5">
        <h2>
            <b>Instituto Tecnológico Superior de Xalapa</b>
        </h2>
    </div>
    <div class="col-auto text-center p-1.5">
        <a href="/auth/signin" class="btn btn-primary p-1.5">
            Iniciar Sesión
        </a>
    </div>
</div>