<div class="header-actividad">
    <div class="titulo">
        <h2>
            <b>Registros</b>
        </h2>
    </div>
</div>
<div class="container p-4">
    <div class="card">
        <div class="card-body"
            style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h4 class="card-title" style="font-weight: bold;">Tipo de actividad</h4>
            <p class="card-text">Por favor escoge el tipo de actividad al cual desea visualizar sus participantes.</p>
            <div class="d-grid gap-3 col-3 mx-auto">
                <a href="/registers/participants1" class="btn btn-outline-info btn-md">Convocatorias</a>
                <a href="/registers/participants2" class="btn btn-outline-info btn-md">Eventos</a>
                <a href="/registers/participants3" class="btn btn-outline-info btn-md">Becas</a>
            </div>
        </div>
    </div>
</div>